alias aliases="code ~/.aliases"
alias srca="source ~/.aliases"

# CLI
alias clr="clear"

# Bundler
alias bi="bundle install"
alias be="bundle exec"

# Rails
alias rc="bundle exec rails console"
alias rs="bundle exec rails server"
alias rdbm="bundle exec rails db:migrate"
alias rdbr="bundle exec rails db:rollback"
alias rdbs="bundle exec rails db:migrate:status"
alias seed="rails db:seed"

# Yarn
alias yi="yarn install"

# Lazygit 💪
alias zz="lazygit"

# Git
alias grbi="git rebase -i"
alias gap="git add -p"
alias gpf="git push -f"
alias gaa="git add ."
alias sweep="git branch --list branch --merged qa-admin-v2 | grep -v 'qa-admin-v2$' | xargs git branch -d && git remote prune origin"
alias amend="git commit --amend"
alias gs="git stash"
alias gsp="git stash pop"

# GitHub
alias prc="gh pr create --draft"

# Lint
alias lint="standardrb --fix && git add -p"

# Heroku
alias hmigrate="heroku run rails db:migrate"
alias hseed="heroku run rails db:seed"

# Overmind
alias server="overmind start -c Procfile.dev"
alias debug="overmind connect web"

# Neovim
alias nv="nvim ."
